@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Bookstore.Models.Category
<form method="post" asp-action="ConfirmDelete" asp-route-id="@Model.Id">
    <div class="border-bottom p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Categorie @Model.Name echt verwijderen?</h2>
            <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />  
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder"></label>
            <input asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 250px">Verwijderen</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-primary" style="width: 250px">
            terug naar overzicht
        </a>
    </div>
</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
